.list-item-btn button {
    margin-right: 15px;
}
.ant-list-pagination {
    text-align: center;
    position: fixed;
    left: 47%;
    bottom: 9%
}
.list-div {
    width: 100%;
    text-align: center;
}
.list-div .title {
    text-align: left;
}
.list-div a {
    color: #000000;
}
.list-div button {
    margin-right: 10px;
}
